<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log_in</title>
</head>

<body>
    <div class="login-dark">
        <form #frm="ngForm" (ngSubmit)="validarUsuario(frm)">
            <div class="form-group">
				<input class="form-control" type="text" [(ngModel)]="model.carnet" name="carnet" placeholder="Carnet/ID" id="carnet_input"></div>
            <div class="form-group">
				<input class="form-control" type="password" [(ngModel)]="model.password" name="password" placeholder="Contraseña" id="pass_input">
			</div>
            <div class="form-group">
				<button class="btn btn-primary btn-block" type="submit" id="btn_ingresar">Ingresar</button>
			</div>
			<div>
				<h6><a href="#">Crear cuenta de estudiante</a></h6>
				<h6><a href="#">Crear cuenta de profesor</a></h6>
			</div>
        </form>
    </div>
</body>

</html>