<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar_materia</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body style="background-color:rgb(241,247,252);">
    <div class="register-photo" style="width:500px;margin:0 auto;">
        <div class="form-container">
            <form method="post" style="width:500px;">
                <h2 class="text-center"><strong>Insertar </strong>malla</h2>
                <div class="form-group"><input class="form-control" type="text" placeholder="Programa" id="programa_input"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Número de plan" id="plan_input"></div>
                <div class="form-group"><input class="form-control" type="text" placeholder="Año" id="anio_input"></div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><input class="form-control" type="text" placeholder="Materia" id="materia_input"></div>
                        <div class="col" style="height:50px;"><button class="btn btn-primary btn-block" type="button" style="margin-top:0px;">Agregar</button></div>
                    </div>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="button" id="btn_crear">Crear malla</button></div>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>